@import 'fonts.css';
@import 'variables.css';
@import 'normalize.css';

:root {
    background-color: var(--bg-dark-graphite);
}

main {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 13px;
    user-select: none;
    width: 100%;
    height: 100%;
    padding: 14px 16px;
}